{{> add }}

{{#if incomes.length}}
{{#each incomes}}
    <div class="wage glass">
        <h3 class="wage__title">WAGES</h3>
        <ul class="wage__list">
            <li class="wage__list-item">EMPLOYER: <span>{{employer}}</span></li>
            <li class="wage__list-item">POSITION: <span>{{position}}</span></li>
            <li class="wage__list-item">WAGE / SALARY: <span class="number__format"> {{wage}} </span>/ hour</li>
            <li class="wage__list-item">MONTH: <span>Every</span></li>
            <li class="wage__list-item"> <a href="#">CHECK SCHEDULE</a> </li>
        </ul>
        <div class="wage__total">
            <h4 class="wage__total-title">Total:</h4>
            <div class="wage__total-sum number__format">1000 </div>
        </div>
{{!--         <div class="wage__total-prev">
            <h4 class="last__month">Last Month</h4>
                <p class="number__format">1000</p>
                <div class="diference number__format">
                    +100 
                </div>
        </div> --}}
        <div class="edit__btn btn">
            <a href="/income/{{id}}">Open</a>
        </div>
    </div>
{{/each}}
{{else}}
    <p class="get__the-job">Get the job</p>
{{/if}}
