{{!-- <div class="wage__page glass">
    <div class="wage glass">
        <h3 class="wage__title">WAGES</h3>
        <ul class="wage__list">
            <li class="wage__list-item">EMPLOYER: <span>{{wages.employer}}</span></li>
            <li class="wage__list-item">POSITION: <span>{{wages.position}}</span></li>
            <li class="wage__list-item">WAGE / SALARY: <span> {{wages.wage}} / hour</span></li>
            <li class="wage__list-item">MONTH: <span>Every</span></li>
            <li class="wage__list-item"> <a href="#">CHECK SCHEDULE</a> </li>
        </ul>
        <div class="wage__total">
            <h4 class="wage__total-title">Total:</h4>
            <div class="wage__total-sum number__format">1000 </div>
        </div>
    </div>
</div> --}}
    <div class="wage__details">

        <div class="wage__title">
            <h3>Your Wage Details</h3>
        </div>

        <div class="wage__info">
            <div class="employer light sm-box">
                <p>Company: <span>{{wages.employer}}</span></p>
            </div>
            <div class="position light sm-box">
                <p>Position: <span>{{wages.position}}</span></p>
            </div>
            <div class="week__income light sm-box">
                <p>Your week income: <span></span></p>
            </div>
        </div>

    </div>

    <style>
        .wage__details {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
        }
        .wage__title {
            margin: 20px;
        }

        .wage__info {
            width: 100%;
            position: relative;
        }
    </style>